<html lang="es">
  <head>
    <title>Birdy tu mensajero</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
  </head>
  <body class=<%= @conn.path_info %>>
    <div class="container">
      <header>
        <%= link "", class: "logo", to: Routes.page_path(@conn, :index) %>
        <% link "Log in", to: Routes.page_path(@conn, :login) %>
      </header>

      <%= render BirdyWeb.LayoutView, "header.html", assigns %>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <main role="main">
        <%= @inner_content %>
      </main>
    </div>
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
